
/* FlexBox is used to position items easily */

.CartWrapperWrapper{

}

/* CartWrapper-Section1 */
.CartWrapper-Section1{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;

    background-image: url('../images/Network-Image.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    color: black;
    width:100%;
    font-family: 'Montserrat', sans-serif;
}

/* CartWrapper-Section1 END */

/* CartWrapper-Section1-top1 */
.CartWrapper-Section1-top1{
    margin-top:20px;
    width:90%;
    margin-bottom: 20px;
    padding-top:10px;
    background-color:white;
    border-radius:10px;
}

.OfferWrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Cart{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-evenly;

    background-color: rgb(228, 228, 228);
    width:90%;
    height:100px;
    margin:20px;
    padding:20px;
    margin-top:30px;
}
.offerdata-left{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    
}



.ProductPIC{
    margin-left:-2px;
}

.Cart h5{
    word-wrap: break-word; /* Use word-wrap instead of overflow-wrap for better compatibility */
    width: 100%; 
    margin-left:22px;
}   
.offerData{
    margin-top:8px;
    line-height: 1.5;
}


.RemoveFromCart{
    margin-left: auto; 
    margin-top:30px;
    padding:10px;
    background-color: rgb(190, 0, 0);
    border-radius: 10px;
    color:white;
}

.RemoveFromCart:hover{
    background-color: rgb(113, 0, 0);
}





/* CartWrapper-Section1-top2 */
.CartWrapper-Section1-top2{

    width:90%;
    margin-bottom: 20px;
    padding-top:10px;
    padding-bottom: 10px;;
    background-color:white;
    border-radius:10px;

}

.SubInfo{
    background-color: rgb(228, 228, 228);
    width:930px;
    margin:20px;
    padding:20px;
    height:100px;
}









/* Wave svg from https://www.shapedivider.app/ */
.wave {
    position: absolute;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(190% + 1.3px);
    height: 138px;
}

.wave .shape-fill {
    fill:black;
    
}

/* End of svg css */

