header{
    background-color:blue;
}
main{
    background-color: greenyellow;
}
footer{
    background-color: red;
    margin-top: auto;

}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
