.USER_PageWrapper * {
    margin: 0;
    padding: 0;
}

.USER_PageWrapper{
    display: absolute;
    margin:-8px;
    margin-top:-27px;
}

/* USER_Page-Section1 */
.USER_Page-Section1{
    background-image:url('Network-Image.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    height:60%;
    padding:178px; 
    color: black;
    width:100%;
    font-family: 'Montserrat', sans-serif;

}

/* USER_Page-Section1 END */



/* USER_Page-Section1-left */
.USER_Page-Section1-top1{
    display:block;
    position: relative;
    width:451px;
    height:520px;
    margin-bottom: 20px;
    padding-top:10px;
    padding-bottom: 10px;;
    background-color:white;
}

.USER_Page-Section1-top1 .User_Name{
    background-color: gray;
    padding-top:10px;
    padding-bottom:10px;
}


/* USER_Page-Section1-top2 */
.USER_Page-Section1-top2{
    display:block;
    position:relative;
    width:451px;
    height:520px;
    padding:10px;
    background-color: white;
    color:black;
}

/* Wave svg from https://www.shapedivider.app/ */
.wave {
    position: absolute;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(190% + 1.3px);
    height: 138px;
}

.wave .shape-fill {
    fill:black;
    
}

/* End of svg css */

