{% extends "Menu.html" %}
{% block body %}
<div class="AboutUSWrapper">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/AboutUS.css') }}">
    <script language="javascript" src="static\JS\AboutUS.js"></script> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap">


    <br>
    <!-- Header -->
    <div class="header" align="center" >
        <div align="top">
            <h1>AboutUS !!!!</h1>
            <h3 >Your Digital Destination for Endless Entertainment and Productivity</h3>
            <br>
             <a href="{{ url_for('Offers') }}">Offers are here !! </a>
            
        </div>
    </div>

    <!-- Wave -->
    <div class="wave">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>

    <!-- Section -->
    <div align="center" class="section1"  >
        <h2>Discover the World of Entertainment:</h2>
        <ul align="center">
            <li>Netflix: Dive into a vast library of movies, TV shows, and documentaries.</li>
            <li>Prime Video: Explore exclusive originals, blockbuster movies, and popular TV series.</li>
            <li>Disney+: Experience the magic of Disney, Pixar, Marvel, Star Wars, and National Geographic.</li>
            <li>Hulu: Stream hit TV shows, movies, and Hulu Originals.</li>
            <li>HBO Max: Enjoy groundbreaking series, exclusive movies, and HBO classics.</li>
        </ul>
    </div>



    <!-- Section -->
    <div align="center" class="section2"  >
        <h2>Boost Your Productivity with Premium Tools:</h2>
        <ul>
            <li>Microsoft Office 365: Access Word, Excel, PowerPoint, and more for seamless productivity.</li>
            <li>Adobe Creative Cloud: Unleash your creativity with Photoshop, Illustrator, Premiere Pro, and other powerful tools.</li>
            <li>Google Workspace: Collaborate effortlessly with Docs, Sheets, Slides, and Drive.</li>
        </ul>
    </div>


    <!-- Section -->
    <div align="center" class="section3"  >
        <h2>Why Choose DAMSO Stream?</h2>
        <ul>
            <li>Convenience: Access all your favorite services in one place.</li>
            <li>Variety: Explore a diverse selection of entertainment and productivity tools.</li>
            <li>Quality: Enjoy high-definition streaming and premium software solutions.</li>
            <li>Affordability: Get the best value with flexible subscription options.</li>
        </ul>
    </div>


    <!-- Section -->
    <div align="center" class="section4"  >
        <h2>Start Your Ultimate Streaming Experience Today!</h2>
        <button>Sign Up</button>
    </div>


    <!-- Section -->
    <div align="center" class="section5"  >
        <h2>Customer Testimonials:</h2>
        <p> <U> <B> SOON !!!!</B></U>  </p>
    </div>

    <!-- Wave -->
    <div class="wave">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill6"></path>
        </svg>
    </div> 
    
</div> <!-- End of Div HomeWrapper-->
{% endblock %}