{% extends "Menu.html" %}
{% block body %}
<div class="AboutUSWrapper">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/AboutUS.css') }}">
    <script language="javascript" src="static\JS\AboutUS.js"></script> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap">


    <br>
    <!-- Header -->
    <div class="header" align="center" >
            <h1>About Us</h1>
    </div>



    <!-- Section -->
    <div class="section1"  >
        <h1> What is DAMSO_STREAM?  </h1>
        <hr>
        <h4>
            DAMSO_STREAM is an innovative web application dedicated to providing digital services at extremely competitive prices. Designed to meet the needs of clients seeking digital services, the application offers a wide range of services such as Netflix, Prime Video, Microsoft 365, Adobe Creative Cloud, and much more.
        <br><br>
            With a user-friendly interface, users can easily browse the various available offers, consult them, and read reviews from other customers. DAMSO_STREAM integrates features such as the ability to track the progress of their subscription, quick quotes, and secure payments.
        <br><br>
            With a focus on quality, transparency, and accessibility, DAMSO_STREAM allows everyone to benefit from professional digital services at reduced costs, thus facilitating access to technology for all.
        </h4>
        <hr>

        <h1 style="margin-top:150px;"> Our Mission Objectives </h1>
        <hr>

        <h4>
            <ul>
                
           <li>To facilitate the acquisition of digital services for its clients.</li> 
            <br><br>
           <li> To offer the best digital services at the best prices.</li>
            </ul>
        </h4>
        <hr>

    </div>

    <div class="section2">
        <h1> Our Philosophy </h1>

        <h4> Empowering clients with seamless access to digital solutions, while providing top-quality services at competitive prices, is not just our philosophy—it's our commitment and greatest resource</h4>

    </div>


    <!-- Wave -->
    <div class="wave">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill6"></path>
        </svg>
    </div> 
    
</div> <!-- End of Div HomeWrapper-->
{% endblock %}