{% extends "Menu.html" %}
{% block body %}
<div class="CartWrapper">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/Cart.css') }}">
    <script language="javascript" src="static\JS\Cart.js"></script> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap">


    <br>
    <!-- Header -->
    <div class="header" align="center" >
        <div align="top">
            <h1>N items in your cart </h1>
            <div>
                <img align="left" width="187px" height="143px" alternative-text="Image Of The Offer"
                border="0" src="{{ url_for('static', filename='Images/logo.jpg') }}">
                <p>                <h3> In x CARTS , y Bought </h3>
                    <h3> MAD X.XX </h3>
                </p>
                <h3> digital product name</h3>
                <a> Save for later</a> <a> Remove</a>
            </div>

            
        </div>
    </div>

    <!-- Wave -->
    <div class="wave">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>


</div> <!-- End of Div HomeWrapper-->
{% endblock %}