<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DamsoStream</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Menu.css') }}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   <!-- <link type="text/css" rel="stylesheet" href="C:\Users\achra\OneDrive\Desktop\PFE\PFE-CODE\static\Menu.css">
    --><script language="javascript" src="static\Menu.js"></script>
    <!-- "Audiowide" + "Sofia" + "Montserrat" from Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">




</head>
<body bgcolor="white" background="#" text = "black" Vlink = "purple" Link = "blue">
<div class="MenuWrapper"> 
    <!-- Menu template -->
    <!-- Partie Fix -->

    <!-- Top Nav -->
    <div class="Menu" >
       <!-- <img src ="C:\Users\achra\OneDrive\Desktop\PFE\PFE-CODE\static\logo.jpg" 
        width = 44px height = 44px border = 2 alt = "alternative text"
           align = "left" class="logo">
       --> 
       <img src="{{ url_for('static', filename='logo.jpg') }}" 
       width="44px" height="43px" border="2" alt="alternative text"
       align="left" class="logo" onclick="redirectToHome('{{ url_for('home') }}')">
       
        <a href="{{ url_for('Offers') }}" >Offers</a> 
        <a href="{{ url_for('ContactUS') }}">Contact-US</a> 
        <a href="{{ url_for('FeedBacks') }}">FeedBacks</a> 
        <a href="{{ url_for('AboutUS') }}">About-US</a> 

        <span class="Right-Menu">   
            <a href="{{ url_for('Cart') }}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</a>         
        <!-- Il faut faire des recherche sur font awesome 
        because of it we can add icon easily -->  
                    
        {% if session["logged_in"] %}

        <a> Welcome,{{ session["FirstName"] }}! </a> 
        <img src="{{ url_for('static', filename='logo.jpg') }}" 
        width="40px" height="40px" border="1" alt="alternative text"
           align="top" class="pfp" onclick="redirectToHome('{{ url_for('home') }}')"> 

        
        {% else %}
        <a class="Signup" href="{{ url_for('Signup') }}">Sign Up</a>
        <a class="Login" href="{{ url_for('Login') }}">Log in</a>        
        {% endif %}
        </span>

    </div> 


<!-- Partie qui change -->
<!-- Content -->
<br>
<div class="content">
{% block body %}
<!-- imported from other html files -->
{% endblock %}
</div>

    <!-- Footer -->
    <div class="Footer" align="center"> 
        <!-- Footer Content -->
        <div class="FooterContent">
            <!-- Footer left -->
            <div class="footer-left">
                <h3> DAMSO <span> Stream </span></h3>
                <p class="footer-left-links">
                    <a href="#">Home</a>
                    |
                    <a href="#">Offers</a>
                    |
                    <a href="#">Contact-US</a>
                    |
                    <a href="#">FeedBacks</a>
                    |
                    <a href="#">About-US</a>
                </p>
                <p class="footer-left-CopyRight">CopyRight &copy; <script> document.write(new Date().getFullYear()); </script> DAMSO Stream. All rights reserved.</p>
            </div>
            <!-- Footer left END -->

            <!-- Footer Center -->
            <div class="footer-center">
                <div >
                    <i class="fas fa-map-marker-alt"></i>
                    <p class="footer-center-map">Morocco
                     <span>Kenitra</span></p>
                </div>

                <div>
                    <i class="fa fa-phone"></i>
                    <p class="footer-center-phone">+212 6********</p>
                </div>

                <div>
                    <i class="fa fa-envelope"></i>
                    <p class="footer-center-envelope"><a href="#"> DamsoStream@gmail.com</a></p>
                </div>
            </div>
            <!-- Footer Center END -->

            <!-- Footer right -->
            <div class="footer-right">
                <div class="footer-right-about">
                    <span> About-US</span>
                    <p>
                        <b>DAMSO Stream </b> is an Android, Windows and iOS mobile application offering many types of digital services such as Netflix, prime video, Disney+, Microsoft office 365 etc.<br><br>
                        DAMSO Stream is basically the name of an entrepreneurial initiative which was created more than a year ago and has already reaped enormous profits,
                    </p>
                </div>
                <div class="footer-right-media">
                    <a href="#"> <i class="fab fa-facebook"></i></i></a>
                    <a href="#"> <i class="fab fa-instagram"></i></a>
                    <a href="#"> <i class="fab fa-linkedin"></i></a>
                    <a href="#"> <i class="fab fa-twitter"></i></a>
                    <a href="#"> <i class="fab fa-youtube"></i></a>

                </div>

            </div>
            <!-- Footer right END -->


            
        </div>
    </div>





</div> <!-- End of Div MenuWrapper-->


</body>
</html>
