{% extends "Menu.html" %}
{% block body %}
<div class="SignupWrapper">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Signup.css') }}">
    <script language="javascript" src="static\Signup.js"></script> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- JS library -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <br>

    <!-- Signup-Section1 --> <!-- Display:inline-block for elements in this div but display:block
    for the Signup-section1 and other sections --> 
    <div class="Signup-Section1">
        <div class="Signup-Section1-left">
            <img src="{{ url_for('static', filename='logo.jpg') }}" 
            width="70px" height="70px" border="0" alt="alternative text"
            class="logo" onclick="redirectToHome('{{ url_for('home') }}')">
            
            <h1>Sign Up and Choose Your Plan Now on Damso <span>Stream</span></h1>
            <h3>And Gain the Following Features:</h3>
            <h5><i class="fa-solid fa-circle-check" style="color: #07c304;"></i> Purchase the offer that you want.</h5>
            <h5><i class="fa-solid fa-circle-check" style="color: #07c304;"></i> Add the offers you want to the cart and send your choices when you're ready.</h5>
            <h5><i class="fa-solid fa-circle-check" style="color: #07c304;"></i> Track the status of your chosen offers.</h5>
            <h5><i class="fa-solid fa-circle-check" style="color: #07c304;"></i> Get exclusive updates and special promotions.</h5>
            

            
        </div>

        <div class="Signup-Section1-right">
            <a class="Link1" href="{{ url_for('home') }}"><i class="fa-solid fa-x"></i></a>
            <h1>Sign Up</h1>
            <h5>Already have an account?  <a class="Link2" href="{{ url_for('Login') }}">Log In</a></h5>
            <!-- 
            The 'return' statement in the onsubmit="return validateForm()" attribute of a form tag controls
            whether the form submission should proceed based on the result of the validation function. 
            If the validation function returns false, the submission is canceled; 
            if it returns true, the submission proceeds. 
            This allows you to enforce validation rules before submitting the form to the server.
            -->
            <form ACTION ="/SignUpInput" method="POST" name = "SignupForm" class="SignupForm" onsubmit ="return validateForm()">
                <input type="text" autocomplet="off" autofocus  placeholder="Email" name="email" class="SignupInput" >   
                <input type="password" autocomplet="off" autofocus placeholder="Password" name="password" class="SignupInput">  
                <input type="text" autocomplet="off" autofocus placeholder="First Name" name="firstname" class="SignupInput">  
                <input type="text" autocomplet="off" autofocus placeholder="Last Name" name="lastname" class="SignupInput">  
                <h6 id="errorMsg">Please fill in all fields</h6>
                <input type="submit" value="Sign Up" class="Signup-input">  

            </form>
        </div>
    </div>


    <!-- Wave -->
    <div class="wave">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div> 

</div> <!-- End of Div SignupWrapper-->
{% endblock %}