{% extends "Menu.html" %}
{% block body %}
<div class="USER_PageWrapper">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='USER_Page.css') }}">
    <!--  This file is not created yet :
        <script language="javascript" src="static\USER_Page.js"></script>  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap">


    <br>
    <!-- IMPORTANT ! :
        This page is loaded after checking if the usr is logged_in or so i can use session 
    without checking if the usr is logged_in freely -->
  <!-- USER_Page-Section1 --> <!-- Display:inline-block for elements in this div but display:block
    for the USER_Page-section1 and other sections --> 
    <div class="USER_Page-Section1">
        <div class="USER_Page-Section1-top1">
            <!-- USER NAME -->
            <div class="User_Name"><h5 style="margin-left:10px;"> {{ session["LastName"] }} {{ session["FirstName"] }} </h5></div>
            <!-- top1_info -->
            <div class="top1-content">
            <div class="top1-info" style="margin-left:10px;line-height: 1.8;">
            <h5 >  <b>FirstName:</b> {{ session["FirstName"] }} </h5>
            <h5 >  <b>LastName:</b> {{ session["LastName"] }} </h5>
            <h5 >  <b>User Id:</b> {{ session["idCli"] }} </h5>
            <h5 >  <b>Email:</b> {{ session["Email"] }} </h5>

            {% if session["role"] == 'client' %}
            <h5 >  <b>Role:</b> {{ session["role"] }} </h5>
            {% endif %}

            <h5 >  <b>Date Joined:</b> {{ session["Date_Joined"] }} </h5>

            <button class="logout">Logout</button>
            {% if session["role"] == 'client' %}
            <button class="workPage"><b>{{ session["role"] }}</b> Page</button>
            {% endif %}
            <button class="delete">Delete</button>
            </div>
            <!-- top1_info END -->
            <!-- pfp -->
            <img src="{{ url_for('static', filename='user.png') }}" 
            width="180px" height="180px" border="0" alt="User_pfp"
            class="User_pfp">

            </div>
        </div>
        <!-- USER_Page-Section1-top1 END -->


        <div class="USER_Page-Section1-top2">
            <div class="User_Name"><h5 style="margin-left:10px;"> Update Profile </h5></div>
            <form action="/UpdateInfo" method="POST" onsubmit="return validateForm()">
                <div class="top2-info" style="margin-left:10px;">
                <h5><b>FirstName</b></h5>
                <input type="text" name="firstname" value="{{ session['FirstName'] }}">
                <h5><b>LastName</b></h5>
                <input type="text" name="lastname" value="{{ session['LastName'] }}">
                <h5><b>WhatsApp Number</b></h5>
                <input type="text" name="whatsappNumber">
                <h5><b>Email</b></h5>
                <input type="text" name="email" value="{{ session['Email'] }}">
                <h5 class="errorMsg" > Error msg </h5>
                <input type="submit" name="submit" value="Submit" class="submitUpdate">
                </div>


            </form>
        </div>

    </div>


    <!-- Wave -->
    <div class="wave">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div> 

</div> <!-- End of Div USER_PageWrapper-->
{% endblock %}